name: Build

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v1

      - name: Build It
        run: |
          rm -rf build
          mkdir -p build
          cd build
          cmake ..
          make -j8
 
        
